@model HanClothesShopProject.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h1>新增附加圖</h1>
<div>
    <a href="/Product/Index" class="btn btn-default">返回</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">附加圖商品信息</label>
                商品的ID: @Html.DisplayFor(modelItem => Model.Id)<br />
                商品標題: @Html.DisplayFor(modelItem => Model.Title)<br />
                主圖:<img src="@Html.DisplayFor(modelItem => Model.Img)" width="100" />
                <input type="hidden" name="Pid" value="@Model.Id" />
            </div>
            <div class="form-group">
                <label class="control-label">商品附圖選擇</label>
                <input type="file" id="pic" name="pic" class="form-control" accept="image/*"
                       onchange="upload(event)">
                <input type="hidden" name="ImageUrl" id="img" value="" required />
                <div id="showImg"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>

    //實現異步上傳
    function upload(event) {
        var imgPath = $("#pic").val();
        console.log(imgPath);
        //判斷上傳文件的後綴名
        var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1);
        if (strExtension != 'jpg' && strExtension != 'gif' && strExtension != 'png' && strExtension != 'bmp') {
            alert("請選擇圖片文件");
            return;
        }
        //實現文件上傳操作
        if (event.target.files[0].type.search('image') !== -1) {
            //實現文件圖片的上傳
            var formData = new FormData($("#myForm")[0]);//用於創建一個文件流對象
            //formData.append('pic', $("#img")[0]); //添加文件流 （流名稱，流）
            //console.log(formData);
            $.ajax({
                url: "/Upload/file",
                type: "post",
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                success: function (res) {
                    console.log(res);
                    if (res.trim() == "209") {
                        alert("請選擇圖片！");
                        return;
                    }
                    if (res.trim() == "300") {
                        alert("上傳的圖片不能為空圖片！");
                        return;
                    }
                    if (res.trim() == "400") {
                        alert("上傳的圖片失敗！");
                        return;
                    }
                    //alert("上傳成功！");
                    $("#showImg").html("<img src='" + res + "' width='150' height='150' /><p style='color:red;'>上傳成功！</p>");
                    //設置上傳的圖片地址
                    var res = res.trim(); //去除圖片的前後空白字符
                    $("#img").val(res);
                },
                error: function (res) {
                    alert("上傳異常！");
                }
            });
        } else {
            alert('只支持上傳圖片');
        }
    }
</script>