@model HanClothesShopProject.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h1 class="btn btn-primary">新增商品屬性</h1>
<div>
    <a href="/ProductAttribute/Index" class="btn btn-default">返回</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">               
                    <label class="control-label">當前新增商品屬性信息</label>
                    商品的ID: @Html.DisplayFor(modelItem => Model.Id)<br />
                    商品標題: @Html.DisplayFor(modelItem => Model.Title)<br />
                    主圖:<img src="@Html.DisplayFor(modelItem => Model.Img)" width="100" />
                    <input type="hidden" name="Pid" value="@Model.Id" />
            </div>
            <div class="form-group">
                <label  class="control-label">商品屬性對應標題</label>
                    <input name="Title" required class="form-control"  />
                    <span asp-validation-for="Title" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label class="control-label">商品屬性對應價格</label>
                    <input name="Price" required class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
           
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

