@{
    Layout = null;
}
<!-- 注入服务，使用HttpContextAccessor 接口 -->
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject HanClothesShopProject.Models.dbContext _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <title>漢服商城個人頁面</title>
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><h4 style="text-align:center;line-height:30px;">漢服商城</h4></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li class="active"><a href="/UserBack/Index" class="sf-house">用戶首頁</a></li>
                        <li><a href="/ProductSave/Index" class="sf-dashboard">我的收藏 </a> </li>
                        <li><a href="/UserBack/MyCoupon" class="sf-notepad">我的優惠券</a></li>
                        <li><a href="/UserOrder/Index" class="sf-notepad">我的訂單</a></li>
                        <li><a href="/Address/Index" class="sf-notepad">地址管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1><a href="/" style="color:aliceblue;">首頁</a></h1>            
            </div>    
            <!--獲取管理員數據回來-->
            @{
                <!--如果獲取的session中使用者id不為空-->
                int count = 0;
                if (HttpContextAccessor.HttpContext.Session.GetInt32("uid") != null) {
                    int uid = (int)HttpContextAccessor.HttpContext.Session.GetInt32("uid");
                    <!--使用者帳號一致 且未讀取-->
                     count = _context.ChatMessages.Where(p => p.ToUserid == uid && p.IsRead == 0).Count();
                }
                
            }
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-notifications-white" 
                      onclick="window.location.href='/Home/Send'"
                      data-toggle="dropdown">
                    <span class="label label-danger">@(count!=null?count:0)</span> 
                </button>             
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;">
                        <strong>
                                <b>(用戶)</b>
                                @HttpContextAccessor.HttpContext.Session.GetString("nickname")
                        </strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/UserBack/Update"><i class="fa fa-fw fa-user"></i> 修改密碼</a>
                    </li>               
                    <li>
                        <a href="/Login/UserLogout"><i class="fa fa-fw fa-sign-out"></i>退出系統</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 主体区域替换 -->
    <div id="global">
        <div class="container-fluid" style="background:#fff;">
            <div class="row cm-fix-height">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- 主体区域替换结束 -->
    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/jquery.mousewheel.min.js"></script>
    <script src="/assets/js/jquery.cookie.min.js"></script>
    <script src="/assets/js/fastclick.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/clearmin.min.js"></script>
    <script src="/assets/js/demo/home.js"></script>
</body>
</html>
